.custom-header{
    background-image: url('../../images/pexels-francesco-ungaro-2325446.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}